<div class="p-24">
  <div fxLayout.gt-md="row" fxLayout.lt-md="column"  fxLayoutGap="10px">
    <div fxFlex>
      <mat-card  style ="min-height: 200px;"  fxLayoutAlign="center center">
        <h2 >HÀNG HÓA</h2>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card style ="min-height: 200px;"  class="gdk-red" fxLayoutAlign="center center">
        <h2>LỊCH SỬ</h2>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card style ="min-height: 200px;" fxLayoutAlign="center center">
        <h2  >BÁO CÁO</h2>
      </mat-card>
    </div>
  </div>
</div>

